$height_header: 64px;
$height_footer: 67px;
$height_breadcrumbs: 22px + 32px;
.main-layout {
  .site-layout-content {
    box-sizing: border-box;
    min-height: calc(
      100vh - $height_header - $height_footer - $height_breadcrumbs
    );
    padding: 24px;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  .ant-layout-header {
    display: flex;
    align-items: center;
  }
}
